.web3-wallet-login-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.web3-wallet-login-button-wrapper button {
    width: 100%;
    max-width: 225px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding: 5px 0;
    margin: 10px 0;
    background: #ededed;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.web3-wallet-login-button-wrapper .web3loginMsg {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    color: red;
    text-align: center;
    font-weight: bold;
}